Source: qtubuntu-media
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
# We rely on C++11 features, and to prevent from ABI breaks
# in libstdc++ causing us issues, we explicitly select a G++
# version.
               libgl1-mesa-dev | libgl-dev,
               libgles2-mesa-dev,
               libhybris-dev (>= 0.1.0+git20131207+e452e83-0ubuntu13),
               libmedia-hub-dev (>= 4.0.0),
               libpulse-dev,
               libqt5opengl5-dev,
               libqtubuntu-media-signals-dev (>= 0.3+15.04.20150618.1-0ubuntu1),
               libplatform-api1-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
               libmediascanner-2.0-dev,
# Since we need mediascanner2.0 to start while building this package, we
# add it as a build-dep.
               mediascanner2.0,
# Since we need media-hub to start while building this package, we
# add it as a build-dep.
               media-hub,
               libmedia-hub-common4,
               libmedia-hub-client4,
Standards-Version: 3.9.4
# If you don't have commit rights to lp:qtubuntu-media but need to upload
# packaging changes, just go ahead.  The developers will notice and sync
# up the code again.
Vcs-Bzr: lp:qtubuntu-media
Vcs-Browser: https://code.launchpad.net/qtubuntu-media

Package: qtubuntu-media
Section: libs
Architecture: i386 amd64 armhf
Conflicts: mediaplayerplugin-aal
Replaces: mediaplayerplugin-aal
Provides: mediaplayerplugin-aal
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtvideonode-plugin,
         libmediascanner-2.0-3
Description: QtMultimedia plugin for AAL+
 Video and audio playback plugin that interfaces Qt with
 the hybris media backend on Android.
