#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/default.mk

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4
export QT_QPA_PLATFORM = minimal

# Explicitly selecting a G{CC,++}-version here to avoid accidental
# ABI breaks introduced by toolchain updates.
export CC=$(DEB_HOST_GNU_TYPE)-gcc-4.9
export QMAKE_CC=$(DEB_HOST_GNU_TYPE)-gcc-4.9
export CXX=$(DEB_HOST_GNU_TYPE)-g++-4.9
export QMAKE_CXX=$(DEB_HOST_GNU_TYPE)-g++-4.9

%:
	dh $@ --parallel --buildsystem=qmake

override_dh_install:
	rm -r debian/qtubuntu-media/usr/tests
	dh_install --fail-missing
